@page "/addcard"
@using SharpCards.Models
@inject CardsService CardsService;

<PageTitle>AddCard</PageTitle>

<h1>AddCard</h1>

<p role="status">Current count: @CardsService.Cards.Count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Temp. (C)</th>
        <th>Temp. (F)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var card in CardsService.Cards)
    {
        <tr>
            <td>@card.Id</td>
            <td>@card.FrontText</td>
            <td>@card.BackText</td>
        </tr>
    }
    </tbody>
</table>

@code {
    private async Task IncrementCount()
    {
        if (CardsService.Cards.Count == 0)
        {
            await CardsService.InitWithStatic();
        } else
        {
            await CardsService.InitWithStatic();
            CardsService.Cards.Add(new Card
            {
                Id = Guid.NewGuid(),
                FrontText = "FrontText",
                BackText = "BackText"
            });
        }
    }
}